@page
@model SimpleExternalAuth.Pages.UserInfo

<h2>User Info</h2>

<div>
    <h3>Claims</h3>

    <ul class="list-group mb-5">
        @foreach (var claim in Model.Claims)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@claim.Type</div>
                    @claim.Value
                </div>
            </li>
        }
    </ul>
    
    <h3>Metadata</h3>

    <ul class="list-group mt-3">
        @foreach (var claim in Model.Metadata)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@claim.Key</div>
                    @claim.Value
                </div>
            </li>
        }
    </ul>
</div>